@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index:100;
    padding: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0,0,.5);
    background: black;
}
.navbar .navbar-brand{
 font-size: 25px;
 font-weight:800;
 color: rgb(234, 14, 14) !important;
}
#navbarSupportedContent a{
    color: #fff;
    border-bottom:2px solid transparent;
}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid #f70046;
}
#navbarSupportedContent .cart-count{ 
    color: hsl(0, 90%, 32%);
    top:25px;
    width:4rem;
    height: 8px;
    text-align: center;
    justify-content:left;
    position: absolute;
}
.cart-box {
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    position: relative;
}
.cart-count {
    position: absolute;
    background: white;
    color: black;
    font-weight: 700;
    top: -8px;
    right: -1px;
    padding: 1px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 50%;
    z-index: 100;
    display: none;
}
.cart-icon {
    font-size: 23px;
    cursor: pointer;
    padding-top: 10px;
}
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* cart contents */
.cart-content {
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background: white;
    box-shadow: 15px 20px 20px rgba(0,0,0,.3),
                inset 4px 4px 10px white;
    z-index: 101;
    transition: 4s;
}
.cart-content-active {
    right: 0;
    transition: 2s;
}
.cart-title {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}
.cart-added-box {
    display: grid;
    grid-template-columns: 28% 61% 11%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    padding-bottom: 10px;
}
.cart-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 2px solid rgba(0, 0,0,0.2);
    padding: 7px;
}
.cartdetail-box {
    display: grid;
    row-gap: 0.5rem;
}
.price-box {
    display: flex;
    justify-content: space-between;
}
.cart-food-title {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 900;
}
.cart-price {
    font-weight: 600;
}
.cart-quantity {
    border: 1px solid rgba(0, 0,0,.5);
    outline: none;
    width: 2.5rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove {
    font-size: 20px;
    cursor: pointer;
    color: red;
}
.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
}
.total-title {
    font-size: 1rem;
    font-weight: 600;
}
.total-price {
    margin-left: 0.5rem;
}
.btn-buy {
    padding: 8px 12px;
    border: none;
    background: black;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.cart-close{
    position: absolute;
    top: 4%;
    right: 3%;
    font-size: 1.3rem;
    cursor: pointer;
}

/*home*/
#home{
   background-image:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)),url("background.jpg");
   background-size: cover;
   background-position: center;
   flex-direction:column;
}
#home h1{
font-size: 50px;
color:white;
letter-spacing: 5px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-shadow: 0px 1px 0px #ccc,
             0px 1px 0px #ccc,
             0px 1px 0px #ccc;
font-family: 'Playfair Display', serif;
}
#home p{   
    font-size: 18px;
    color:wheat;
    font-family: 'Caveat', cursive;
}
#home .input-group{
    width: 500px;
    height: 35px;
}
.getstart{
    background: #d50202 !important;
    color: #fff !important;
    box-shadow: 2px 4px 5px rgba(0,0,0,.4);
}

/*about us*/
#about{
    background:rgb(58, 5, 68);
}
#about h1{
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    color: #edeeef;
}
#about p{
    color:white;
}

/*product*/
#products{
    background: #ccc;
}
#products h1{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 700;
}
#products img{
    width: 200px;
    height: 200px;
}
.card-img-top{
    overflow: hidden;
}
.card-img-top:hover{
    transform: scale(1.1);
    transition: .2s;
}
.card{
    width: 250px;
    height: 300px;
    background:#e5e5e5 !important;
    border: none !important;
    box-shadow: 15px 20px 20px rgba(0,0,0,.3),
                inset 4px 4px 10px white;
    border-radius: 20px !important;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 20px 60px;
    transition: .2s;
}
.card:hover{
    box-shadow: inset 5px 5px 10px rgba(0,0,0,.3),
                inset -4px -4px 10px white;     
    transition: .2s;
}
.cart{
    background: green !important;
    color: #fff !important;
    font-weight: 600 !important;
    box-shadow: 2px 4px 5px rgba(0,0,0,.4);
}
.cart:hover {
    background: rgb(255, 0, 0) !important;
    color: white !important;
}
.card-title {
    font-weight: 900;
}
.jacket-price{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    padding: 8px;
    font-weight: 600;
}

/*contact*/
#contact{
    padding: 100px !important;
}
#contact img{
    height: 100%;
}
.contactboxhead{
    font-weight: bold;
    text-align: center;
}
.box{
    width: 80% !important;
    margin-top: 10px;
}
form{
    display: flex;
    flex-direction: column;
}
#contact input{
    margin: 10px 0px;
}
#contact textarea{
    margin: 10px 0px;
}
#contact .submitcontact{
    background: #f70046 !important;
    color: #fff !important;
    box-shadow: 2px 4px 5px rgba(0,0,0,.4);
}
footer{
    width: 100%;
    height: 30px;
    background: black;
    margin-top: -30px;
    text-align: center;
    color:white;
    padding: 5px;
}
@media screen and (max-width:500px) {
    /* cart contents */
    .cart-content {
        width: 300px;
    }
    /*home*/
    #home{
       background-image:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)),url("backgroundimg.jpg");
       background-size: cover;
       background-position: center;
       flex-direction:column;
    }
    #home h1{
    font-size: 35px;
    letter-spacing: 2px;
    }
    #home p{   
        font-size: 17px;
    }
    #home .input-group{
        width: 300px;
        height: 35px;
    }
    /*about us*/
    #about h1{
        font-size: 40px;
        text-align: center;
    }
    #about p{
        color:white;
        padding: 10px;
    }
    /*product*/
    #products{
        background: #ccc;
    }
    #products h1{
        font-size: 40px;
        letter-spacing: 1px;
        font-weight: 700;
    }
    #products img{
        width: 200px;
        height: 200px;
    }
    .card{
        margin: 20px auto;
    }
    /*contact*/
    #contact{
        padding: 20px !important;
    }
    #contact img{
        height: 100%;
        padding-bottom: 10px;
    }
    .box{
        width: 90% !important;
    }
}